:root {
    --beige: #F2E9DA;
    --red_velvet: #4F0A0C;
}

/* * {
    border: red 1px solid;
} */

.serif {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.sans-serif {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.red-velvet {
    color: var(--red_velvet);
}

.beige {
    color: var(--beige);
}

.red-velvet-bg {
    background-color: var(--red_velvet);
}

body {
    background-color: var(--beige);
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}

main {
    margin-top: calc(90px + 20px);
}

@media screen and (min-width: 1024px) {
    main {
        margin-top: calc(80px + 20px);
        
    }
    
}