:root {
    --beige: #F2E9DA;
    --red_velvet: #4F0A0C;
}

* {
    border: red 1px solid;
    padding: 0;
    margin: 0; 
}

html, body {
    margin: 0;
}

body {
    background-color: var(--beige);
}