a {
  display: flex;
  justify-content: center; /* horizontal centring */
  align-items: center;     /* vertical centring */
  text-align: center;
}

nav {
    background-color: var(--red_velvet);
    color: beige;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

nav a {
    color: beige;
    text-decoration: none;
    padding: 5px 10px;
}

.desktop-nav {
    display: none;
}

.nav-left {
    margin-left: 15px;
}

.nav-right {
    margin-right: 10px;
}

.nav-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-mid a img{
    width: 115px;
}

header button {
    background-color: var(--red_velvet);
    border: none;
}

header button:hover {
    cursor: pointer;
}

.mobile-nav img, .mobile-menu img {
    width: 30px;
}

.menu-close{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.mobile-menu img {
    margin-left: 15px;
}

.mobile-menu {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: var(--red_velvet);
    position: absolute;
    left: 0;
    top: 0;
}

.menu-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-links a {
    color: beige;
    text-decoration: none;
    font-size: 32px;
    padding-left: 15px;
}

.open {
    display: block;
    
}

.side-img {
    display: none;
}

@media screen and (min-width: 1024px) {
    .mobile-nav, .mobile-menu{
        display: none;
    }

    nav {
        height: 80px;
    }

    .desktop-nav {
        display: flex;
        gap: 30px;
    }

    .nav-left {
        margin-left: 15px;
    }

    .nav-right {
        margin-right: 15px;
    }

    .nav-mid a img{
        width: 100px;
    }

    nav a {
        font-size: 18px;
    }

    nav img {
        width: 35px;
    }

    .side-img {
        display: block;
    }


}

